---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="機材紹介">
    <p>いろいろな所有物を列挙するページです。マキシマリストなのでいらないものがたくさんある。</p>
    <h2>カメラ</h2>
    <h3>本体</h3>
    <dl>
        <dt>SONY α7 IV</dt><dd>最強なのでほぼこれしか使ってない。LA-EA5対応。ボタンを押すだけでいぬの写真が撮れる。</dd>
        <dt>KONICA MINOLTA α-7 DIGITAL</dt><dd>型番DG-7D。ついったとかのIDの由来。ファインダーとJPEGの色がいい。</dd>
        <dt>SONY α900</dt><dd>Aマウントデジタル一眼レフ唯一のフルサイズ。めちゃくちゃファインダーが見やすい。α7 IVがきてからはあんまつかってない。</dd>
        <dt>SONY α700</dt><dd>α900のしょぼい版。完全下位互換なのでいらない。</dd>
        <dt>SONY α350</dt><dd>最初に買ってもらったカメラ。像面位相差のなかった時代に専用位相差AFを使ったライブビューができた変態。</dd>
    </dl>
    <h3>レンズ</h3>
    <p>全部ミノルタAマウント。</p>
    <dl class="inline">
        <dt>24-50mm F4</dt><dd>いつもつけてる。まあまあ寄れる。ボケがめっちゃいい。</dd>
        <dt>35-70mm</dt><dd>秋葉原で200円で拾った。α-7000のキトレン。普通に写る。ボケはまあいい。</dd>
        <dt>28-135mm</dt><dd>倍率が高くて便利だけどデカくて重いのでここぞというときしか使わない。ボケがいい。</dd>
        <dt>35-105mm</dt><dd>ハードオフのジャンク箱で拾った。初期型。ズームなのに簡易マクロでの解像力が驚異的。初期型とNewとでまったく性能が違うので注意。カタログスペックが同じなので検索で分けられないのが厄介。ボケがいい。</dd>
        <dt>70-210mm F4</dt><dd>ハードオフで2000円。いわゆる茶筒。インナーズームで扱いやすい。焦点距離が微妙なのであんま使わない。ボケがいい。</dd>
        <dt>75-300mm</dt><dd>ヤフオクかどっかで付属品完備1000円。よくハードオフのジャンク箱に入ってるのと同じカタログスペックだけど、それはIIとかNewとか(D)とか。これは初期型でデカ重な代わりに写りがいい。ボケはまあいい。</dd>
        <dt>20mm F2.8</dt><dd>がさばるし汎用性はまったくないしで防湿庫の肥やし。広角はスマホでいいじゃん……。ボケ味を気にするほどボケない。</dd>
        <dt>50mm F1.7 New</dt><dd>ハードオフで2000円。単焦点らしく解放からバキバキ解像する。特に前ボケがめっちゃいい。</dd>
        <dt>MACRO 50mm F2.8</dt><dd>ヤフオクで3000円。便利。ボケがまあいい。</dd>
        <dt>MACRO 100mm F2.8</dt><dd>若干離れたものでもバチクソデカく撮れる中望遠マクロ。使いどころがむずかしい。所有レンズ中一番の解像力。ボケもいい。</dd>
        <dt>REFLEX 500mm F8</dt><dd>これとVマウントの400/8は世界で唯一AFの使える反射望遠レンズ。500mmなのに軽くて小さい。Aマウントを使う理由の3割くらいこれ。2本目として必ず選ぶ。ボケはクセが強い。</dd>
        <dt>MC ROKKOR-PF 58mm F1.4</dt><dd>Aマウントじゃないけど改造してAマウントにした。ちょっと絞るといい写りするけど、さすがにAFがないのは不便なのであんま使わない。ボケがいい。</dd>
    </dl>
    <h3>周辺機器</h3>
    <dl>
        <dt>SONY LA-EA5</dt>
        <dd>Eマウント機でAマウントレンズを爆速精密な像面位相差AFで使えるアダプタ。新しい機種でしか使えない。</dd>
        <dt>Re:CLEAN RC-80L</dt>
        <dd>防湿庫。湿度が上がるのが嫌で蓋を開けるのを躊躇いがちな防湿ケースと違って、気軽にカメラを出し入れ出来てたのしいのでおすすめ。</dd>
        <dt>ハクバ HK-834B</dt>
        <dd>川崎のビックカメラで買った新品だけど激安三脚。背高いし軽いししっかりしてるし足の先端が地形に追従してくれるしで優秀。なお雲台がカスなのに交換できるようになってないのでだいなし。</dd>
    </dl>
    <h2>パソコン</h2>
    <dl>
        <dt>メイン機</dt>
        <dd>ﾊﾟｯﾊﾟがメルカリで拾ってくれたまあまあ安い他作PC。ケースがださいので変えたい。メモリは足りてなくはないけど令和に16GBは最低限ってかんじでダサいので盛ってもいいかも。グラボはめちゃつよではないけどWar ThunderでSSAA使える程度はあるのでいいかな。</dd>
        <dd>
            <dl class="inline">
                <dt>OS</dt><dd>Windows 11 Pro</dd>
                <dt>CPU</dt><dd>Core i5-12600K</dd>
                <dt>GPU</dt><dd>RTX 3060</dd>
                <dt>RAM</dt><dd>16GB DDR4</dd>
                <dt>SSD</dt><dd>1GB NVMe</dd>
                <dt>M/B</dt><dd>MSI Z690-P</dd>
                <dt>Bluetooth</dt><dd>Intel AX200</dd>
            </dl>
        </dd>
        <dt>EPSON Pro7500</dt>
        <dd>ﾊﾟｯﾊﾟのお下がり。今でいうi9に相当するCPUが載ってて当時最強だけど処分セールで10万しなかったらしい。メイン機にHDDが載らないのでファイルサーバとして使ってる。</dd>
        <dd>
            <dl class="inline">
                <dt>OS</dt><dd>Windows 11 Pro (サポート対象外)</dd>
                <dt>CPU</dt><dd>Core i7-3930K (Sandy Bridge !!!)</dd>
                <dt>GPU</dt><dd>GT 710</dd>
                <dt>RAM</dt><dd>16GB DDR3</dd>
                <dt>SSD</dt><dd>120GB SATA</dd>
                <dt>HDD</dt><dd>2x2TB(MD04ACA200), 2x8TB(WD80EAZZ)</dd>
            </dl>
        </dd>
        <dt>VAIO SX14 (VJS142)</dt>
        <dd>大学用ノートPC。あんまOSを破壊しないように気を付けてる。<em>なぜか</em>入学の1年前に買っているのでもう型落ち。VGA出力できたりこの薄さで有線LANが刺さったりする。どこぞの林檎と違って溝に指をかけなくても普通に画面が開けたり、細かい気配りはさすがVAIO。あと無駄のない外観もかっこいい。<del>MacBookがかっこいいと言ってる人には同意できない。</del></dd>
        <dd>
            <dl class="inline">
                <dt>OS</dt><dd>Windows 10 Pro</dd>
                <dt>CPU</dt><dd>Core i7-10710U</dd>
                <dt>RAM</dt><dd>16GB</dd>
                <dt>SSD</dt><dd>512GB NVMe</dd>
            </dl>
        </dd>
        <dt>SONY VAIO Pro 13 (SVP132)</dt>
        <dd>ふるいノートPC。SONY時代のVAIO。どっかで中古で拾った。TailscaleとWoLの踏み台として常時起動中。一回BIOS飛ばして無理矢理焼き直したせいで変なことになってる。</dd>
        <dd>
            <dl class="inline">
                <dt>OS</dt><dd>Windows 10 Pro</dd>
                <dt>CPU</dt><dd>Core i7-4500U</dd>
                <dt>RAM</dt><dd>8GB</dd>
                <dt>SSD</dt><dd>256GB PCIe直付けAHCI(????)</dd>
            </dl>
        </dd>
        <dt>iMac</dt>
        <dd>ディスプレイとして使えるかと思って親からもらってみたけど対応してなかった。macOS Catalinaまでしか上げられない。いらない。邪魔。</dd>
        <dt>SONY VAIO type R master</dt>
        <dd>SONYの名作機。PCIeをぶっといケーブルで外部ユニットに引っ張ってたりマザボがmicroBTXだったりと変態。Core 2 Quad対応のとそうでないの2台ある。愛着はあるけど邪魔。</dd>
        <dt>余ってる部品</dt>
        <dd>
            <ul class="inline">
                <li>Core 2 Quad Q6600</li>
                <li>Core 2 Duo E6600</li>
                <li>Core 2 Duo E8400</li>
                <li>7600GS</li>
                <li>9600GT (壊れてる)</li>
                <li>GT 330</li>
                <li>GTS 450</li>
                <li>GTX 1050 Ti (グラボはよく壊れるので予備として温存)</li>
                <li>SATA SSD 数枚</li>
                <li>SeagateのおしまいHDD</li>
                <li>SATA BDドライブ 2台</li>
                <li>Intel Wireless-AC 9260</li>
                <li>Win11Proのライセンス</li>
            </ul>
        </dd>
    </dl>
    <h3>周辺機器</h3>
    <dl>
        <dt>Logicool K855</dt>
        <dd>ドングル(Logi Bolt)接続ワイヤレスメカニカルキーボード。赤軸。最近「N」の反応が怪しいけどホットスワップ非対応なので スイッチだけ交換とかはできない、ざんねん。</dd>
        <dt>Logicool M750</dt>
        <dd>ワイヤレス静音マウス。K855と同じドングルで一度に接続できる。M590の保証交換できたけどM590のほうがよかった。</dd>
        <dt>LG W2361VG</dt>
        <dd>23×25.4mmモニタ。どっかのハードオフで拾ってきた。メイン。素晴らしくはないがふつうに使える。光沢なのが気に入らない。</dd>
        <dt>MITSUBISHI RDT234WLM</dt>
        <dd>23×25.4mmモニタ。ﾊﾟｯﾊﾟのお下がり。サブで縦置き。ちょっとでも正面から外れるとおしまいの色になる。とてもメインで使える代物ではない。VESA対応してるのに最近気づいたけど……。もう一枚あって押し付けられそうになったけど拒否した。</dd>
        <dt>BUFFALO LSW3-GT-5NS</dt>
        <dd>5ポートギガビットスイッチングハブ。トレファクで拾った激安品。ちゃんと理論値出るし金属筐体だし磁石でくっつけられるしで有能。</dd>
        <dt>LANケーブル</dt>
        <dd>出所不明のCat 6がいくつかある。壁通ってるやつはCat 5eだわツメ折れてるわでおしまい。でも1Gbps出る。</dd>
        <dt>Aterm BL1000HW</dt>
        <dd>auひかりの貸出ONU兼ルータ。WAN側10Gbps。LAN側も1つ10Gbpsあるけど対応する接続先がない……。回線は実測で1Gbpsギリギリまで出る。</dd>
    </dl>
    <p>4Kモニタほしいなぁ。狙撃がしやすくなりそう(?)</p>
    <h2>オーディオ</h2>
    <p>有線だと紐が重くて首がもげるのでTWSしか使わない。</p>
    <dl>
        <dt>NUARL NT01AX</dt>
        <dd>特別な機能はないBluetooth接続のTWS。(今は)1万円しないという安さ。低音から高音まで押し付けがましくないのにちゃんと聞こえる素晴らしい音質。試聴した限りでは4万円とかするやつより好き。一度バッテリがだめになってしまったので2代目。</dd>
        <dt>JBL Quantum TWS</dt>
        <dd>専用ドングルを使う低遅延なTWS。音質はカス。ノイキャンもついてるけど役立たず。ゲーム用。Bluetoothより接続が確実なので家以外で遠隔講義受けるときも使う。</dd>
        <dt>Apple EarPods</dt>
        <dd>紐付きだけど万が一のときのためにノートPCケースに常備してある。素晴らしい音ではないけど、どんな音源でも無難な音で鳴ってくれるのである意味優秀。3.5mmジャックなのでiPhoneでは使えない。</dd>
    </dl>
    <h2>携帯端末</h2>
    <dl>
        <dt>iPhone SE (第3世代)</dt>
        <dd>たぶん最後になってしまわれた画面が変な形にエグれてないまともなiPhone。SE2よりかなり改善されたけどちょーーっと電池持ちが悪いかもしれない。10シリーズがXperiaみたいな形になってくれれば移行できるんだけど……。</dd>
        <dt>iPhone SE (第2世代)</dt>
        <dd>まさかまともなiPhoneの後継が出るとは思わず発売直後にXSを投げ捨てて買った。今はサブ機としてひたすら一眼カメラに位置情報を飛ばしている。</dd>
        <dt>iPad (第8世代)</dt>
        <dd>謎の一年間の途中からノート取るのに導入。もう紙には戻れない。Lightningなのはいいとして(よくない)PD非対応なのが最悪。</dd>
    </dl>
</BaseLayout>
