---
import BaseLayout from "@/layouts/BaseLayout.astro";
import OGPCard from "@/components/OGPCard.astro";
import Center from "@/components/Center.astro";
import A from "@/components/A.astro";
---

<BaseLayout title="機材紹介" description="あづみのカメラやパソコンなどいろいろな所有物を列挙するページです。">
    <p>いろいろな所有物を列挙するページです。マキシマリストなのでいらないものがたくさんある。</p>

    <h2>カメラ</h2>

    <h3>本体</h3>
    <dl>
        <dt><A href="https://www.sony.jp/ichigan/products/ILCE-7M4/">SONY α7 IV</A></dt><dd>最強なのでほぼこれしか使ってない。LA-EA5対応。ボタンを押すだけでいぬの写真が撮れる。</dd>
        <dt>KONICA MINOLTA α-7 DIGITAL</dt><dd>型番DG-7D。ついったとかのIDの由来。ファインダーの見やすさと撮って出しの色がいい。</dd>
        <dt>SONY α900</dt><dd>Aマウントデジタル一眼レフ唯一のフルサイズ。めちゃくちゃファインダーが見やすい。α7 IVがきてからはあんまつかってない。</dd>
        <dt>SONY α700</dt><dd>α900のしょぼい版。ファインダーは普通だし色は終わってる。完全下位互換なのでいらない。</dd>
        <dt>SONY α350</dt><dd>最初に買ってもらったカメラ。像面位相差のなかった時代に専用位相差AFを使ったライブビューができた変態。ファインダーはダハミラーなのでおしまい、色はまあいい。</dd>
    </dl>

    <h3>レンズ</h3>
    <p>全部ミノルタAマウント。</p>
    <dl class="inline">
        <dt>24-50mm F4</dt><dd>いつもつけてる。まあまあ寄れる。ボケがめっちゃいい。</dd>
        <dt>35-70mm</dt><dd>秋葉原で200円で拾った。α-7000のキトレン。普通に写る。ボケはまあいい。</dd>
        <dt>28-135mm</dt><dd>倍率が高くて便利だけどデカくて重いのでここぞというときしか使わない。ボケがいい。</dd>
        <dt>35-105mm</dt><dd>ハードオフのジャンク箱で拾った。初期型。ズームなのに簡易マクロでの解像力が驚異的。初期型とNewとでまったく性能が違うので注意。カタログスペックが同じなので検索で分けられないのが厄介。ボケがいい。</dd>
        <dt>70-210mm F4</dt><dd>ハードオフで2000円。いわゆる茶筒。インナーズームで扱いやすい。焦点距離が微妙なのであんま使わない。ボケがいい。</dd>
        <dt>75-300mm</dt><dd>ヤフオクかどっかで付属品完備1000円。よくハードオフのジャンク箱に入ってるのと同じカタログスペックだけど、それはIIとかNewとか(D)とか。これは初期型でデカ重な代わりに写りがいい。ボケはまあいい。</dd>
        <dt><del>20mm F2.8</del></dt><dd>使いどころがなさすぎてハードオフ稲城矢野口店行きになった。</dd>
        <dt>50mm F1.7 New</dt><dd>ハードオフで2000円。単焦点らしく解放からバキバキ解像する。特に前ボケがめっちゃいい。</dd>
        <dt>MACRO 50mm F2.8</dt><dd>ヤフオクで3000円。便利。ボケがまあいい。</dd>
        <dt>MACRO 100mm F2.8</dt><dd>若干離れたものでもバチクソデカく撮れる中望遠マクロ。使いどころがむずかしい。所有レンズ中一番の解像力。ボケもいい。</dd>
        <dt>REFLEX 500mm F8</dt><dd>これとVマウントの400/8は世界で唯一AFの使える反射望遠レンズ。500mmなのに軽くて小さい。Aマウントを使う理由の3割くらいこれ。2本目として必ず選ぶ。ボケはクセが強い。</dd>
        <dt>MC ROKKOR-PF 58mm F1.4</dt><dd>Aマウントじゃないけど改造してAマウントにした。ちょっと絞るといい写りするけど、さすがにAFがないのは不便なのであんま使わない。ボケがいい。</dd>
    </dl>

    <h3>周辺機器</h3>
    <dl>
        <dt>SONY LA-EA5</dt>
        <dd>Eマウント機でAマウントレンズを爆速精密な像面位相差AFで使えるアダプタ。新しいボディでしか使えない。</dd>
        <dt>Re:CLEAN RC-80L</dt>
        <dd>防湿庫。湿度が上がるのが嫌で蓋を開けるのを躊躇いがちな防湿ケースと違って、気軽にカメラを出し入れ出来てたのしいのでおすすめ。</dd>
        <dt><A href="https://www.biccamera.com/bc/item/3043524/">ハクバ HK-834B</A></dt>
        <dd>川崎のビックカメラで買った新品だけど激安三脚。背高いし軽いししっかりしてるし足の先端が地形に追従してくれるしで優秀。なお雲台がカスなのに交換できるようになってないのでだいなし。</dd>
        <dt>ベルボン D25-D + PH-346</dt>
        <dd>三脚+雲台。親がくれた。HK-834B比で若干コンパクトだが頼りないし背が低い。雲台はまあまあまとも。</dd>
    </dl>

    <h2>パソコン</h2>

    <h3>PC本体</h3>
    <dl>
        <dt>メイン機</dt>
        <dd>ﾊﾟｯﾊﾟがメルカリで拾ってくれたまあまあ安い他作PC。ケースがださいので変えたい。メモリは足りてなくはないけど令和に16GBは最低限ってかんじでダサいので盛ってもいいかも。グラボはめちゃつよではないけどWar Thunderでまあまあの設定で4Kを楽しめる程度はあるのでいいかな。チップセットは対応してるはずなのにUSB Type-AがGen2じゃなくておしまい。</dd>
        <dd>
            <dl class="inline">
                <dt>OS</dt><dd>Windows 11 Pro</dd>
                <dt>CPU</dt><dd>Core i5-12600K</dd>
                <dt>GPU</dt><dd>GeForce RTX 3060</dd>
                <dt>RAM</dt><dd>16GB DDR4 (2x8)</dd>
                <dt>SSD</dt><dd>1TB NVMe (KIOXIA EXCERIA G2)</dd>
                <dt>M/B</dt><dd>MSI Z690-P</dd>
                <dt>Bluetooth</dt><dd>Intel AX200</dd>
            </dl>
        </dd>
        <dt>EPSON Endeavor Pro7500</dt>
        <dd>ﾊﾟｯﾊﾟのお下がり。今でいうi9に相当するCPUが載ってて当時最強だけど処分セールで10万しなかったらしい。メイン機にHDDがほぼ載らないのでファイルサーバとして使ってる。大げさだしうるさくて常時起動できたもんじゃないのでミニPCとかで置き換えたい(HDDのUSB接続ってどうなんだろ)。</dd>
        <dd>
            <dl class="inline">
                <dt>OS</dt><dd>Windows 11 Pro (サポート対象外)</dd>
                <dt>CPU</dt><dd>Core i7-3930K (Sandy Bridge-E !!!)</dd>
                <dt>GPU</dt><dd>GeForce GT 710</dd>
                <dt>RAM</dt><dd>16GB DDR3 (4x4)</dd>
                <dt>SSD</dt><dd>120GB SATA (SanDisk SSD Plus)</dd>
                <dt>HDD</dt><dd>2x2TB (MD04ACA200)</dd><dd>2x8TB (WD80EAZZ)</dd>
            </dl>
        </dd>
        <dt>VAIO SX14 (VJS142)</dt>
        <dd>大学用ノートPC。あんまOSを破壊しないように気を付けてる。<em>なぜか</em>入学の1年前に買っているのでもう型落ち。VGA出力できたりこの薄さで有線LANが刺さったりする。どこぞの林檎のように溝に指をかけたり、そのへんのﾉﾊﾟｿのように両手を使ったりすることなく画面が開けるなど、細かい使い心地のよさはさすがVAIO。あと無駄のない外観もかっこいい。<del>無駄な曲線だらけのMacBookがかっこいいと言ってる人には同意できない。</del></dd>
        <dd>
            <dl class="inline">
                <dt>モニタ</dt><dd>4K 14×25.4mm IPS 非光沢</dd>
                <dt>OS</dt><dd>Windows 10 Pro</dd>
                <dt>CPU</dt><dd>Core i7-10710U</dd>
                <dt>RAM</dt><dd>16GB</dd>
                <dt>SSD</dt><dd>512GB NVMe (Samsung PM981)</dd>
            </dl>
        </dd>
        <dd>CPUは10710Uな142と1065G7な143があって前者を選び、モニタも4KかFHDかで前者を選んだけど、どっちも後者のほうが絶対によかった。ﾉﾊﾟｿに4Kはいらない。電池持ちを最優先しろ。当時の自分はとにかく4Kを体験したかったのだ……。</dd>
        <dt>SONY VAIO Pro 13 (SVP132)</dt>
        <dd>ふるいノートPC。SONY時代のVAIO。どっかで中古で拾った。スペックは終わってるけど見た目とか物理的な細かい使い心地はSX14同様よい。TailscaleとWoLの踏み台として常時起動中。一回BIOS飛ばして無理矢理焼き直したせいで変なことになってる。</dd>
        <dd>
            <dl class="inline">
                <dt>モニタ</dt><dd>FHD 13×25.4mm IPS 半光沢(ほぼ非光沢)</dd>
                <dt>OS</dt><dd>Windows 10 Pro</dd>
                <dt>CPU</dt><dd>Core i7-4500U</dd>
                <dt>RAM</dt><dd>8GB</dd>
                <dt>SSD</dt><dd>256GB PCIe直付けAHCI(????) (Samsung XP941)</dd>
                <dt>Wi-Fi</dt><dd>Intel Wireless-AC 7260</dd>
                <dt>有線LAN</dt><dd>なし🥺</dd>
            </dl>
        </dd>
    </dl>
    <Center>↓紛争を開始↓</Center>
    <OGPCard url="https://www.cpubenchmark.net/compare/4603vs902vs1038vs3567vs1937/" />
    <OGPCard url="https://www.videocardbenchmark.net/compare/4345vs3595vs2910vs3950vs2643/" />

    <h3>周辺機器</h3>
    <dl>
        <dt><A href="https://www.logicool.co.jp/ja-jp/products/keyboards/k855-signature-wireless-mechanical-tkl.920-011080.html">Logicool K855</A></dt>
        <dd>ドングル(Logi Bolt)接続ワイヤレスメカニカルキーボード。赤軸。最近「N」の反応が怪しいけどホットスワップ非対応なのでスイッチだけ交換とかはできない、ざんねん。</dd>
        <dt>Logicool M750</dt>
        <dd>ワイヤレス静音マウス。K855と同じドングルで一度に接続できる。M590の保証交換できたけどM590のほうがよかった。</dd>
        <dt><A href="https://www.lg.com/jp/monitors/4k-5k-monitors/32un500-w/">LG 32UN500-W</A></dt>
        <dd>4K 80cm VA 非光沢。メイン。でかい。デフォで150%スケーリングでしっくりきたからそのまま使ってる。付属の脚が前後方向にでかいのでモニタアームにつけたい。</dd>
        <dt><A href="https://www.eizo.co.jp/support/db/products/model/EV2436W-Z">EIZO EV2436W-Z</A></dt>
        <dd>WUXGA 24×25.4mm IPS 非光沢。拾った。配置検討中。ピボット対応の脚がついてきたのでそれで縦置きしてる。メニューが縦向きにできるのが気が利いてる。</dd>
        <dt>ELECOM TK-TDP019</dt>
        <dd>専用ドングル接続のワイヤレステンキー。メカニカルではない。</dd>
        <dt><A href="https://www.yodobashi.com/product/100000001004005572/">変換名人 MB-USB2</A></dt>
        <dd>マザボのUSBヘッダから直接内部にUSB端子を生やせるやつ。これで内部にLogi Blotのドングルとテンキーのドングルを埋め込んでる。</dd>
        <dt>Ainex BZ-01</dt>
        <dd>マザボのブザー。前使ってたPCが起動時に「ﾋﾟｯ」と鳴るのに慣れていたので新しいのにもつけた。そしたら「ﾋﾟｰｯ」だった。うるさいのでテープでふさいでちょっとやわらかくしてる。</dd>
        <dt>Ainex U32AC-MFAD</dt>
        <dd>USB Type-A<abbr title="メス、レセプタクル">凹</abbr>からType-C凹に変換する<strong>規格違反</strong>アダプタ。使用法を間違えると危険なのでどうダメなのか分からない人は絶対に使ってはいけない。後述するイヤホンのドングルをPCにつけるのに使ってる。</dd>
        <dt><A href="https://www.elecom.co.jp/products/EHC-Q05MA-HJB.html">ELECOM EHC-Q05MA-HJB</A></dt>
        <dd>5ポート2.5Gbpsスイッチングハブ。親が拾ってきた。付属のクソつよ磁石で網にくっついてる。電源内蔵じゃないしなんかデカいしほんのりあったかいけどマルチギガってこんなもんなのかな。</dd>
        <dt>LANケーブル</dt>
        <dd>出所不明のCat 5eと6がいくつかある。硬いやつと長すぎるやつを滅ぼしたい。壁通ってるやつはCat 5eだわツメ折れてるわでおしまい。でも2.5Gbps出る。</dd>
        <dt>Aterm BL1000HW</dt>
        <dd>auひかりの貸出ONU兼ルータ。WAN側とLAN側1ポートが10Gbps。回線は実測で2.5Gbpsギリギリまで出る。</dd>
    </dl>
    <p>モニタをもっといいかんじに置きたいけど、机の形状的にふつうのモニタアームが使えないのがしんどい。</p>

    <h3>使ってないPC</h3>
    <dl>
        <dt>SONY VAIO type R master</dt>
        <dd>SONYの名作機。PCIeをぶっといケーブルで外部ユニットに引っ張ってたりマザボがmicroBTXだったりと変態。Core 2 Quad対応のとそうでないの2台ある。もう使うことはないだろうけど面白さと愛着があるので捨てにくい。</dd>
        <dt><del>iMac (21.5, Late 2012)</del></dt>
        <dd>ディスプレイとして使えるかと思って親からもらってみたけどDP入力に対応してなかった(Thunderboltのみ)。macOS Catalinaまでしか上げられない。形状的に積めなくて邪魔。もらいたいというなぞの人がいたのであげた。</dd>
        <dd>
            <dl class="inline">
                <dt>CPU</dt><dd>Core i5-3335S</dd>
                <dt>RAM</dt><dd>8GB</dd>
                <dt>HDD</dt><dd>1TB</dd>
            </dl>
        </dd>
        <dt>余ってる部品</dt>
        <dd>
            <ul class="inline">
                <li>Core 2 Quad Q6600</li><li>Core 2 Duo E6600</li><li>Core 2 Duo E8400</li><li>7600GS</li><li>9600GT (壊れてる)</li><li>GT 330</li><li>GTS 450</li><li>GTX 1050 Ti (グラボはよく壊れるので予備として温存)</li><li>SATA SSD 数枚</li><li>SeagateのおしまいHDD</li><li>SATA BDドライブ 2台</li><li>Intel Wireless-AC 9260</li><li>Win11Proのライセンス(バグで滅びたかもしれん)</li><li>Win11Educationのライセンス(大学がくれたやつ)</li>
            </ul>
        </dd>
    </dl>

    <h3>使ってない周辺機器</h3>
    <dl>
        <dt><A href="https://www.eizo.co.jp/support/db/products/model/EV2316W-TS">EIZO EV2316W-TS</A></dt>
        <dd>FHD 23×25.4mm TN 非光沢。拾った。三菱のやつよりさらに上方向の視野角が狭いけどそれ以外はまとも。3枚目として置きたい。</dd>
        <dt>MITSUBISHI RDT234WLM</dt>
        <dd>FHD 23×25.4mm TN 非光沢。ﾊﾟｯﾊﾟのお下がり。ちょっとでも正面から外れるとおしまいの色になる。とてもメインで使える代物ではない。もう一枚あって押し付けられそうになったけど拒否した。</dd>
        <dt>LG L204WT</dt>
        <dd>WSXGA+ 20×25.4mm TN 非光沢。1680×1050。ﾊﾟｯﾊﾟのおさがりで昔けっこう長いこと使ってた。三菱ほどじゃないけど色が怪しい。足が壊れてて分解撤去されている。一応VESA対応。</dd>
        <dt><del>LG W2361VG</del></dt>
        <dd>FHD 23×25.4mm TN 光沢。トレファク三鷹店で拾ってきた。素晴らしくはないがふつうに使えてた。TNにしては視野角が広い説がある。光沢なのが気に入らない。非光沢ならサブに回してた。山に投げた。</dd>
        <dt>Microsoft Designer Bluetooth Mouse</dt>
        <dd>ワイヤレスマウス。VAIO Pro 13で使ってた。ちょっと挙動が怪しい。いらない。</dd>
        <dt><del>Logicool K380, M350</del></dt>
        <dd>Mac向けっぽいワイヤレスキーボード、マウス。なぜか欲しがってる人がいたのであげた。</dd>
        <dt>BUFFALO LSW3-GT-5NS</dt>
        <dd>5ポートギガビットスイッチングハブ。トレファクで拾った激安品。ちゃんと実測1Gbps出るし金属筐体だし磁石でくっつけられるしで有能。2.5Gbpsスイッチに置き換えられた。</dd>
    </dl>

    <h2>音響</h2>
    <p>有線だと紐が重くて首がもげるのでTWSしか使わない。</p>
    <dl>
        <dt>NUARL NT01AX</dt>
        <dd>特別な機能はないBluetooth接続のTWS。(今は)1万円しないという安さ。低音から高音まで押し付けがましくないのにちゃんと聞こえる素晴らしい音質。試聴した限りでは4万円とかするやつより好き。一度バッテリがだめになってしまったので2代目。</dd>
        <dt>JBL Quantum TWS</dt>
        <dd>専用ドングルを使う低遅延なTWS。音質はカス。ノイキャンもついてるけど役立たず。ゲーム用。Bluetoothより接続が確実なので家以外で遠隔講義受けるときも使う。</dd>
        <dt>Apple EarPods</dt>
        <dd>紐付きだけど万が一のときのためにノートPCケースに常備してある。素晴らしい音ではないけど、どんな音源でも無難な音で鳴ってくれるのである意味優秀。3.5mmジャックなのでiPhoneでは使えない。</dd>
        <dt>なぞのサラウンド環境</dt>
        <dd>ﾊﾟｯﾊﾟがリビングに構築してる4.1ch(?)環境。耳をすませばのブルーレイとか流すとかなりいい。これで戦車ｹﾞｰやってみたいけどリビングにPCないからなぁ。</dd>
    </dl>

    <h2>携帯端末</h2>
    <dl>
        <dt>iPhone SE (第3世代)</dt>
        <dd>画面が変な形にエグれてない貴重なまともなiPhone。たぶん後継機は出ない。SE2よりかなり改善されたけどちょーーっと電池持ちが物足りないかもしれない。10シリーズがXperiaみたいな形になってくれれば移行できるんだけど……。</dd>
        <dt>iPhone SE (第2世代)</dt>
        <dd>まさかまともなiPhoneの後継が出るとは思わず発売直後にXSを投げ捨てて買った。今はサブ機としてひたすらα7 IVに位置情報を飛ばしている。</dd>
        <dt>iPad (第8世代)</dt>
        <dd>謎の一年間の途中からノート取るのに導入。もう紙には戻れない。Lightningなのはいいとして(よくない)PD非対応なのが最悪なので、10世代に置き換えられ売り払われた。</dd>
        <dt>iPad (第10世代)</dt>
        <dd>第8世代に代わり生えてきた。Apple Pencil(第1世代)の接続方法とTouch IDの場所がバカな以外はまとも。</dd>
    </dl>

    <h3>周辺機器</h3>
    <dl>
        <dt>BLUEDOT BMB-PD101</dt><dd>PD対応10000mAhモバイルバッテリ。Micro-B端子がついちゃったりしてる古めのだけどまあ使える。会社が吹き飛んでるっぽい()</dd>
        <dt>BLUEDOT BAC-PD60W</dt><dd>PD充電器(60W)。家でのﾉﾊﾟｿ充電用。</dd>
        <dt><A href="https://www.elecom.co.jp/products/EC-AC4465BK.html">ELECOM EC-AC4465BK</A></dt><dd>PD充電器(65W or 45W+20W)。Ankerのより小さくて軽い。持ち出し用(1つでPCとスマホ同時に行けるので便利)。Aはおまけ(回路が独立してないのは規格違反らしい)。</dd>
        <dt>Apple MHJA3AM</dt><dd>PD充電器(20W)。iPadの付属品。家でのその他もろもろ充電用。</dd>
        <dt>AUKEY PA-D5</dt><dd>PD充電器(60W or 45W+18W)。家でのiPhone、iPad充電用。ちゃんさぶさんからもらった。でかい。</dd>
        <dt>USB Type-Cケーブル</dt>
        <dd><A href="https://ja.aliexpress.com/item/1005006128932643.html">アリエクの怪レいやつ</A>(布巻き、Gen2x2)(初回割引で72円、平時でも900円、2x2対応機器がないので本当に20Gbps出るかは知らんw)</dd>
        <dd><A href="https://jp.daisonet.com/products/4984279770429">ダイソーで200円のやつ</A>(布巻きで根本がつよそう、USB2.0)(黒いのと白いのがあるけど白いののほうが圧倒的に品質がいい(1敗))</dd>
        <dd>iPad付属のやつ(布巻きだけど根本はよわそうなのでダイソーのに置き換え封印 USB2.0)</dd>
        <dd>ハードオフ稲城矢野口店で300円で拾ってきたやつ(セリアで100円で売ってた……)(布(?)巻き、USB2.0)</dd>
        <dd>ﾓﾊﾞﾌﾞ付属のやつ(充電だけ)</dd>
        <dt>Type-C to Lightningケーブル</dt>
        <dd>iPhone付属のやつ(すぐ壊れそうなので箱から出してすらいない)</dd>
        <dd>K123 Keytechとかいうとこのやつ(布巻き!)</dd>
        <dd>多摩電子のやつ(布巻き!)</dd>
        <dd>はやくLightning滅ぼしたいけどSE3の後継が出なさそうで望み薄。</dd>
    </dl>
</BaseLayout>
