---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="あづみについて" description="あづみについて紹介します。">
    <p>あづみです。名前の由来は言うまでもなく(?)長野県松本市安曇です。もっと言えば3190mの山です。だから「の」はつかないんですね。じゃあなんでアイコンとかは3776mのほうなんですか？　静岡生まれ東京(広義)育ちです。長野どっからきた？　なんででしょうね。</p>
    <h2>所属</h2>
    <p>できんきつーしんの……大学？　に通ってるんですけど！　大学入学前に謎の1年間があるらしい。II類(†融合系†)らしい。カメラを振り回すサークルの部長もやってるよ。</p>
    <h2>SNS</h2>
    <dl class="inline">
        <dt>𝕏</dt><dd><a href="https://twitter.com/DG_7D">@DG_7D</a></dd><dd>Twitterやったことなし</dd>
        <dt>Instagram</dt><dd><a href="https://www.instagram.com/dg_7d_3190/">@dg_7d_3190</a></dd><dd>あんま使ってない(写真研究部なのに？)</dd>
        <dt>Threads</dt><dd><a href="https://www.threads.net/@dg_7d_3190">@dg_7d_3190</a></dd>
        <dd>使ってる人いる？</dd>
        <dt>GitHub</dt><dd>別名義でも使ってるので公開するか悩む……</dd>
        <dt>ニコニコ動画</dt><dd>別人格なので貼れない、見つけてもそっとしといてね。</dd>
    </dl>
    <h2>その他</h2>
    <ul>
        <li><a href="./equipment/">機材紹介</a></li>
    </ul>
    <h2>趣味</h2>
    <ul>
        <li>カメラ</li>
        <li>写真</li>
        <li>パソコン (破壊)</li>
        <li>War Thunder (戦車) <a href="https://twitter.com/search?q=from%3Adg_7d%20%E5%9F%BA%E7%A4%8E%E7%A7%91%E5%AD%A6%E5%AE%9F%E9%A8%93A%20filter%3Amedia&f=live">関連ツイート</a></li>
        <li>Stormworks (定期的に飽きるけど)</li>
        <li>アニメ (絶妙に有名どころは抑えてない)</li>
        <li>カラオケ (絶妙に古い曲歌うよ)</li>
    </ul>
    <h2>触ってる技術</h2>
    <ul>
        <li>html (ﾁｮｯﾄﾜｶﾙ)</li>
        <li>CSS (ﾁｮｯﾄﾜｶﾙ)</li>
        <li>JavaScript/TypeScript (わからん)</li>
        <li>C# (たのしい)</li>
        <li>Windows (ｸﾘｰﾝｲﾝｽｺはおともだち)</li>
    </ul>
    <h2>すきなもの</h2>
    <ul>
        <li>かわいいもの</li>
        <li>佐天涙子</li>
        <li>佐伯沙弥香</li>
        <li>国際単位系</li>
        <li>いぬ</li>
        <li>ねこ</li>
        <li>秋、冬、春</li>
        <li>タービンエンジン</li>
        <li>WSL1</li>
        <li>炊き立てのご飯</li>
        <li>船で一晩明かした次の晩に陸で布団に入ると発生する陸酔い</li>
    </ul>
    <h2>きらいなもの</h2>
    <ul>
        <li>Shift_JIS</li>
        <li>ヤードポンド法</li>
        <li>乗合自動車発進妨害</li>
        <li>猫派犬派という概念。天はいぬの上にねこを造らず、いぬの下にねこを造らず。あでもうちの子がいちばん。</li>
        <li>京王線</li>
        <li>南武線</li>
        <li>小田急登戸駅のホームドア</li>
        <li>角のRがデカかったり、ノッチやパンチホールやDynamic Islandがあったりする画面</li>
        <li>焼き魚</li>
        <li>夏</li>
        <li>冷めたごはん</li>
        <li>WSL2</li>
        <li>西8号館</li>
    </ul>
</BaseLayout>
