---
import A from "@/components/A.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="あづみについて" description="あづみのメモ帳の管理者、あづみについて紹介するページです。">
    <p>あづみです。名前の由来は言うまでもなく(?)長野県松本市安曇です。3190mの山があるところです。山なので「の」はつきません。じゃあなんでアイコンとかは3776mのほうなんですか？　静岡生まれだからです。じゃあなんで安曇？　さて、なんででしょうね。</p>

    <h2>所属</h2>
    <p>できんきつーしんの……大学？　に通ってるんですけど！　大学入学前に謎の1年間があるらしい。II類(†融合系†)計測・制御システムプログラムらしい。カメラを振り回すサークルの部長もやってるよ。</p>

    <h2>SNS</h2>
    <dl class="inline">
        <dt>𝕏</dt><dd><A href="https://twitter.com/DG_7D">@DG_7D</A></dd><dd>Twitterやったことなし</dd>
        <dt>Instagram</dt><dd><A href="https://www.instagram.com/dg_7d_3190">@dg_7d_3190</A></dd><dd>あんま使ってない(写真研究部なのに？)</dd>
        <dt>Threads</dt><dd><A href="https://www.threads.net/@dg_7d_3190">@dg_7d_3190</A></dd><dd>使ってる人いる？</dd>
        <dt>GitHub</dt><dd><A href="https://github.com/DG-7D">@DG-7D</A></dd><dd>見られてもいいようにはしたけど見ておもしろいようにはしてない</dd>
        <dt>ニコニコ動画</dt><dd>別人格なので貼れない、見つけてもそっとしといてね。</dd>
    </dl>

    <h2>その他</h2>
    <ul>
        <li><a href="./equipment/">機材紹介</a></li>
    </ul>
    <h2>趣味</h2>
    <ul>
        <li>カメラ</li>
        <li>写真</li>
        <li>パソコン (破壊)</li>
        <li><A href="https://twitter.com/search?q=from%3Adg_7d%20filter%3Amedia%20%E5%9F%BA%E7%A4%8E%E7%A7%91%E5%AD%A6%E5%AE%9F%E9%A8%93A&f=live">War Thunder</A> (戦車)</li>
        <li>Stormworks (定期的に飽きるけど)</li>
        <li>アニメ (絶妙に有名どころは抑えてない)</li>
        <li>カラオケ (絶妙に古い曲歌うよ)</li>
    </ul>

    <h2>触ってる技術</h2>
    <ul>
        <li>html (ﾁｮｯﾄﾜｶﾙ)</li>
        <li>CSS (ﾁｮｯﾄﾜｶﾙ)</li>
        <li>JavaScript/TypeScript (わからん)</li>
        <li>C (授業でやっただけ)</li>
        <li>C# (たのしい)</li>
        <li>Windows (ｸﾘｰﾝｲﾝｽｺはおともだち)</li>
    </ul>

    <h2>すきなもの</h2>
    <ul>
        <li>かわいいもの</li>
        <li><A href="https://toaru-project.com/railgun_t/chara/saten.html">佐天涙子</A></li>
        <li><A href="http://yagakimi.com/character/#C3">佐伯沙弥香</A></li>
        <li>国際単位系</li>
        <li><A href="https://twitter.com/search?q=from%3Adg_7d%20filter%3Amedia%20%E3%81%84%E3%81%AC&f=live">いぬ</A></li>
        <li>ねこ</li>
        <li>睡眠</li>
        <li>静的型付け言語</li>
        <li>秋、冬、春</li>
        <li>タービンエンジン</li>
        <li>WSL1</li>
        <li>炊き立てのご飯</li>
        <li>とんかつ和幸の味噌汁</li>
        <li>船で一晩明かした次の晩に陸で布団に入ると発生する陸酔い</li>
    </ul>

    <h2>きらいなもの</h2>
    <ul>
        <li>Shift_JIS</li>
        <li>ヤードポンド法</li>
        <li>docomo</li>
        <li>夜更かしがかっこいいと思ってる大学生</li>
        <li>道路交通法違反</li>
        <li>猫派犬派という概念。天はいぬの上にねこを造らず、いぬの下にねこを造らず。あでもうちの子がいちばん。</li>
        <li>京王線</li>
        <li>南武線</li>
        <li>小田急登戸駅のホームドア</li>
        <li>角のRがデカかったり、ノッチやパンチホールやDynamic Islandがあったりする画面</li>
        <li>焼き魚</li>
        <li>夏</li>
        <li>夜遅くの対面説明会(資料を読むだけ)への出席を強制してくる団体</li>
        <li>冷めたごはん</li>
        <li>WSL2</li>
        <li>西8号館</li>
    </ul>
</BaseLayout>
