---
import { execSync } from "child_process";
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
export async function getStaticPaths() {
    const blogEntries = await getCollection("blog", ({ data }) => {
        return data.publish;
    });
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const publish: Date = entry.data.publishDate;
const lastUpdate: Date = new Date(execSync(`git log -1 --format="%ad" --date="iso" ./src/content/${entry.collection}/${entry.id}`).toString());

// console.log(publish);
// console.log(lastUpdate);

publish.setHours(9);
publish.setMinutes(0);
publish.setSeconds(0);
lastUpdate.setHours(9);
lastUpdate.setMinutes(0);
lastUpdate.setSeconds(0);

function to年月日(date: Date): string {
    const iso: string = date.toISOString();
    return `${iso.substring(0, 4)}年${iso.substring(5, 7)}月${iso.substring(8, 10)}日`;
}
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
    <div class="publishDate">
        <time datetime={publish.toISOString().substring(0, 10)}>{to年月日(publish)}</time>
        {
            publish < lastUpdate && (
                <>
                    (最終更新: <time datetime={lastUpdate.toISOString().substring(0, 10)}>{to年月日(lastUpdate)}</time>)
                </>
            )
        }
    </div>
    <Content />
</BaseLayout>
