---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
// const allPosts = await Astro.glob("./*.md");
const allPosts = await getCollection("blog");
---

<BaseLayout title="あづみのブログ" description="あづみがどうでもいいことを書いたり書かなかったりするブログです。">
    <p>どうでもいいことを書いたり書かなかったりします。</p>
    <h2>記事一覧</h2>
    <ul>
        {
            allPosts.map((post) => {
                if (post.data.publish) {
                    return (
                        <li>
                            <a href={"/blog/" + post.slug + "/"}>{post.data.title}</a>
                        </li>
                    );
                }
            })
        }
    </ul>
</BaseLayout>
