---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { getState } from "./_functions";
const allPosts = await getCollection("blog");
// TODO: 表示をなんとかする
---

<BaseLayout title="あづみのブログ" description="あづみがどうでもいいことを書いたり書かなかったりするブログです。">
    <p>どうでもいいことを書いたり書かなかったりします。</p>
    <h2>記事一覧</h2>
    <dl>
        {
            allPosts.map(post => {
                const state = getState(post);
                if (import.meta.env.DEV || state == "published") {
                    return (
                        <>
                            <dt>
                                <a href={"/blog/" + post.slug + "/"}>
                                    {state != "published" && `${state}: `}
                                    {post.data.title}
                                </a>
                            </dt>
                            <dd>{post.data.description}</dd>
                        </>
                    );
                }
            })
        }
    </dl>
</BaseLayout>
