---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
---

<BaseLayout title="あづみのブログ" description="どうでもいいことを書いたり書かなかったりします。">
    <p>どうでもいいことを書いたり書かなかったりします。</p>
    <h2>記事一覧</h2>
    <ul>
        {
            allPosts.map(post => {
                if (import.meta.env.DEV || (post.data.publish && post.data.publishDate < new Date())) {
                    return (
                        <li>
                            <a href={"/blog/" + post.slug + "/"}>{!post.data.publish && "非公開: "}{post.data.title}</a>
                        </li>
                    );
                }
            })
        }
    </ul>
</BaseLayout>
