:root {
    --black: #0c0c0c;
    --blue: #0037da;
    --cyan: #3a96dd;
    --green: #13a10e;
    --purple: #881798;
    --red: #c50f1f;
    --white: #cccccc;
    --yellow: #c19c00;
    --bblack: #767676;
    --bblue: #3b78ff;
    --bcyan: #61d6d6;
    --bgreen: #16c60c;
    --bpurple: #b4009e;
    --bred: #e74856;
    --bwhite: #f2f2f2;
    --byellow: #f9f1a5;
}