@import url(reset.css);
@import url(campbell.css);

:root {
    --theme-color: var(--green);
    color-scheme: light dark;

    --background-color: var(--black);
    --main-shadow: var(--bblack);
    --main-color: var(--bwhite);
    --sub-color: var(--white);
    --link-color: var(--byellow);

    @media (prefers-color-scheme: light) {
        --background-color: var(--bwhite);
        --main-shadow: var(--white);
        --main-color: var(--black);
        --sub-color: var(--bblack);
        --link-color: var(--blue);
    }
}

html {
    color: var(--main-color);
    background: var(--background-color);
    height: 100%;
    overflow-y: scroll;
    scroll-padding-top: var(--header-height);
}

body {
    min-height: 100%;

    display: flex;
    grid-template-rows: auto 1fr;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    >header {
        flex: none;
        width: 100%;
    }


    >main {
        flex: 1;
        width: 100%;
        max-width: 60rem;
    }

    >footer {
        flex: none;
        width: 100%;
    }

}

:where(main) {
    contain: inline-size; // table対応
    padding: 0.75rem;
    box-shadow: 0 0 0.5rem 0.25rem var(--main-shadow);

    * {
        line-height: 150%;
        overflow-wrap: anywhere;
        // word-break: auto-phrase;
    }

    // ブロック
    >* {
        display: block;

        +* {
            margin-top: 0.5rem;
        }
    }

    >h1.hidden-title {
        display: none;

        +* {
            margin-top: 0;
        }
    }

    // // 見出し
    >h1 {
        line-height: 100%;
        font-size: 2.5rem;
        font-weight: bolder;
        padding: 0.25rem 0.75rem;
        margin: 0 -0.75rem;
        border-style: solid;
        border-width: 0 0 0.1rem;
        border-color: var(--theme-color);
        word-break: auto-phrase;

        +div.publishDate {
            color: var(--sub-color);
            margin: 0;
        }
    }

    >h2 {
        line-height: 100%;
        font-size: 1.5rem;
        position: sticky;
        top: var(--header-height);

        background-color: var(--background-color);
        z-index: 1645;
        border-style: solid;
        border-width: 0 0 0.1rem 0.5rem;
        padding: 0.25rem 0.5rem;
        margin: 1rem -0.5rem 0.5rem;
    }

    >h3 {
        line-height: 100%;
        border-style: solid double;
        border-width: 0 0 0.1rem 0.5rem;
        padding: 0.25rem 0.5rem;
        margin: 0.5rem -0.5rem;
    }


    // // 本文
    p {
        text-indent: 1em;
        text-align: justify;
    }

    >pre,
    >textarea {
        padding: 0.25rem;
        border: 0.1rem solid var(--main-shadow);

        @supports (text-autospace: no-autospace) {
            text-autospace: no-autospace;
        }
    }

    >pre {
        max-height: 50vh;
        resize: vertical;
        font-family: monospace;
        font-size: 0.9em;
    }

    // // リスト
    ul:not(.inline),
    dl:not(.inline) {
        padding-left: 1em;

        >li,
        >dt {
            display: list-item;
            list-style: "–\2002" outside;
        }

        >dd {
            padding-left: 1em;
        }
    }

    ul.inline {
        >li {
            display: inline;

            &:has(+ li)::after {
                content: "、";
            }
        }
    }

    dl.inline {
        padding-left: 2em;

        >dt {
            // display: inline list-item; // なぜかSafariだと動かない
            // list-style: "–\2002" inside;
            display: inline;

            &::before {
                content: "–\2002";
            }

            margin-left: -2em;

            &::after {
                content: ": ";
            }
        }

        >dd {
            display: inline;

            &:has(+ dd)::after {
                content: "、";
            }

            &:has(+ dt)::after {
                content: "";
                display: block;
            }
        }
    }

    // // 表
    // TODO: 謎を解明する
    table {
        max-width: max-content;
        overflow-x: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        thead,
        tbody {
            border: 0.1rem solid var(--main-color);
            border-style: solid none;
        }

        th,
        td {
            padding: 0 0.25em;
            white-space: nowrap;
        }
    }


    // // インライン
    >* {

        a:any-link,
        *.like-link {
            cursor: pointer;
            color: var(--link-color);
            text-decoration-line: underline;

            // &:focus {}

            &:hover {
                text-decoration-line: none;
            }

            &:active {
                opacity: 50%;
            }
        }

        em {
            font-size: 1.1em;
            font-style: italic;
        }

        strong {
            font-size: 1.1em;
            font-weight: bold;
        }

        del {
            color: var(--main-shadow);
            font-size: 0.9em;
            text-decoration-line: line-through;
            text-decoration-color: var(--main-color);
            text-decoration-thickness: 0.1em;
        }

        &:not(pre) code {
            padding: 0.05em 0.1em;
            font-size: 0.9em;
            font-family: monospace;
            color: var(--background-color);
            background-color: var(--main-color);
        }
    }
}