@import url(reset.css);
@import url(campbell.css);

:root {
    --theme-color: var(--green);
    color-scheme: light dark;

    --background-color: var(--black);
    --main-shadow: var(--bblack);
    --main-color: var(--bwhite);
    --sub-color: var(--white);
    --link-color: var(--byellow);

    @media (prefers-color-scheme: light) {
        --background-color: var(--bwhite);
        --main-shadow: var(--white);
        --main-color: var(--black);
        --sub-color: var(--bblack);
        --link-color: var(--blue);
    }
}

html {
    color: var(--main-color);
    background: var(--background-color);
    height: 100%;
    overflow-y: scroll;
    scroll-padding-top: var(--header-height);
}

body {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    --header-height: 2.5rem;

    >header {
        height: var(--header-height);
    }


    >main {
        flex: 1;
        align-self: center;
        width: 100%;
        max-width: 60rem;
    }

    // footer
}

:where(main) {
    --gap: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--gap);
    $padding-main: 0.75rem;

    padding: $padding-main;
    box-shadow: 0 0 0.5rem 0.25rem var(--main-shadow);

    >* {
        line-height: 150%;
        overflow-wrap: anywhere;
    }

    // ブロック
    // // 見出し
    >h1 {
        width: calc(100% + 2 * $padding-main);
        margin: 0 (-$padding-main);
        padding: 0 $padding-main;
        border-bottom: 0.1rem solid var(--theme-color);
        line-height: 120%;
        font-size: 2.5rem;
        font-weight: bolder;
        word-break: auto-phrase;
    }

    $hn-overflow: calc($padding-main / 2);

    >h2,
    >h3 {
        width: calc(100% + $hn-overflow * 2);
        margin-left: -$hn-overflow;
        margin-right: -$hn-overflow;
        border-bottom: 0.1rem solid;
        padding: 0 0.5rem;
    }

    >h2 {
        position: sticky;
        top: var(--header-height);
        z-index: 1645;
        margin-top: var(--gap); // flexのgapに追加で

        border-left: $hn-overflow solid;
        background-color: var(--background-color);
        font-size: 1.5rem;
    }

    >h3 {
        border-left: $hn-overflow double;
    }


    // // 本文
    p {
        text-indent: 1em;
        text-align: justify;
    }

    >pre,
    >textarea,
    >*.bordered {
        padding: 0.25rem;
        border: 0.1rem solid var(--main-shadow);
    }

    >pre {
        max-height: 50vh;
        resize: vertical;
        font-family: monospace;
        font-size: 0.9em;

        @supports (text-autospace: no-autospace) {
            text-autospace: no-autospace;
        }
    }

    // // リスト
    ul:not(.inline),
    dl:not(.inline) {
        padding-left: 1em;

        >li,
        >dt {
            display: list-item;
            list-style: "–\2002" outside;
        }

        >dd {
            padding-left: 1em;
        }
    }

    ul.inline {
        >li {
            display: inline;

            &:has(+ li)::after {
                content: "、";
            }
        }
    }

    dl.inline {
        padding-left: 2em;

        >dt {
            // display: inline list-item; // なぜかSafariだと動かない
            // list-style: "–\2002" inside;
            display: inline;

            &::before {
                content: "–\2002";
            }

            margin-left: -2em;

            &::after {
                content: " : ";
            }
        }

        >dd {
            display: inline;

            &:has(+ dd)::after {
                content: "、";
            }

            &:has(+ dt)::after {
                content: "";
                display: block;
            }
        }
    }

    // // 表
    div:has(>table) {
        overflow-x: auto;
    }

    table {
        width: max-content;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;

        thead,
        tbody {
            border: 0.1rem solid var(--main-color);
            border-style: solid none;
        }

        th,
        td {
            padding: 0 0.25em;
        }
    }


    // // インライン
    >* {

        a:any-link,
        *.like-link {
            cursor: pointer;

            &:not(:has(> div)) {
                color: var(--link-color);
                text-decoration-line: underline;
            }

            // &:focus {}

            &:hover {
                text-decoration-line: none;
            }

            &:active {
                opacity: 50%;
            }
        }

        em {
            font-size: 1.1em;
            font-style: italic;
        }

        strong {
            font-size: 1.1em;
            font-weight: bold;
        }

        del {
            color: var(--main-shadow);
            font-size: 0.9em;
            text-decoration-line: line-through;
            text-decoration-color: var(--main-color);
            text-decoration-thickness: 0.1em;
        }

        &:not(pre) code {
            padding: 0.05em 0.1em;
            font-size: 0.9em;
            font-family: monospace;
            color: var(--background-color);
            background-color: var(--main-color);

            @supports (text-autospace: no-autospace) {
                text-autospace: no-autospace;
            }
        }
    }
}