---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="ページが見つかりませんでした" description="404ページです。">
    <p>サイト内のリンクを踏んでここに来てしまったのなら、私が犯人ですので<a href="/about/">SNS</a>までお伝えいただけると幸いです。</p>
    <ul>
        <li><a onclick="history.back()">前のページに戻る</a></li>
        <li><a href="../">一つ上の階層に行ってみる</a></li>
        <li><a href="/">トップへ戻る</a></li>
    </ul>
</BaseLayout>
