<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width,minimum-scale=1" />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <meta name="generator" content={Astro.generator} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content={new URL("rubbishcard.png", Astro.url)} />
        <meta property="og:url" content={Astro.url} />
        <title>タイトルの肝心な部分がかなり後のほうにきていてタブに表示されなくて不便</title>
        <style>
            html {
                font-family: "Hiragino Kaku Gothic ProN", "メイリオ", "游ゴシック", sans-serif;
                font-size: 12px;
            }

            #loading {
                position: fixed;
                width: 100%;
                height: 100vh;
                background: #000000;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #loading div {
                font-size: 2rem;
            }

            #loading.loaded {
                animation: fadeOut 5s forwards;
            }

            @keyframes fadeOut {
                from {
                    opacity: 1;
                }

                to {
                    display: none;
                    opacity: 0;
                }
            }
        </style>
    </head>

    <body>
        <div id="loading">
            <div>そもそもいらないのに消えるのに何秒もかかるロード画面</div>
        </div>
        <script>
            window.onload = () => {
                setTimeout(() => {
                    const loading = document.getElementById("loading");
                    loading?.classList.add("loaded");
                }, 1000);
            };
        </script>
        <h2>無駄なロード画面</h2>
        <p>Webアプリでもないくせにロード画面が要るほど読込に時間がかかるのはよく分からないだろ。そうでなくとも読込終わったらとっとと失せて操作可能にしてほしい。</p>
        <h2>WIP:目的なくfont-familyに具体的なフォントを指定している</h2>
        <p>ブラウザに指定したフォントで表示してくれぇぇぇ！　お前そんなにメイリオが好き？？？　メイリオをアンインストールしたら今度はＭＳ ゴシックですか？？？？？　全くの別物をなんで同時に指定してるんですか？？？？？？？</p>
        <p>絶対このフォントで表示しないと成り立たない、という意思があるわけでもなく、ただ【令和最新版】を鵜呑みにしてプリインストールフォントを列挙しているだけ。「ブラウザのアプデとかで変わってきしょいじゃん！」という言い訳があるらしいが、利用者がブラウザでフォントを設定できるということを知らないのはこのきしょい習慣が定着しているせいである。</p>
        <h2>WIP:文字でないものをWebフォントで表現している</h2>
        <p>読むための文字は知らん図形ではなく慣れたフォントで表示してほしいので、ブラウザの拡張機能でWebフォントの読み込みをブロックしている。するとたまに現れるのが謎の豆腐や文字列である。ブロックを一時的に外すと、どうやら矢印とかのアイコンらしい。前者は予約領域に、後者はリガチャ機能を使っている。で、それらは文字ですか？？？</p>
        <h2>htmlのlangが指定されてない</h2>
        <p>自動翻訳が誤爆しておしまいになる。</p>
        <h2>WIP:ダークテーマなのにcolor-schemeが設定されていない</h2>
        <p>Chromiumの強制ダークモード機能が誤爆して変な色になるので<code>color-scheme: dark;</code>が設定されているとうれしい。</p>
        <h2>WIP: UAでCSSを切り替えている</h2>
        <p>iPadのSlide Overとかで表示するとおしまいになる。パソコンで隅っこにちっちゃく置いておくとかもできない。</p>
        <h2>minimum-scale=1</h2>
        <p>はみ出すサイトに限ってこういうことする</p>
        <h2>font-sizeが絶対値指定されてる</h2>
        <p>ユーザが設定できることが忘れ去られてる例その2</p>
        <h2>ToDo</h2>
        <ul>
            <li>スマホではちゃんと見えるのにiPadのSlide Overで見るとなぜか画面に収まらない、なんで？</li>
            <li>スマホで見るとめちゃくちゃ横にはみ出してるくせに縮小させてくれない</li>
            <li>無駄なアニメーション</li>
            <li>無駄な余白</li>
            <li>文字幅</li>
            <li>ついてくる広告</li>
            <li>ダークモード非対応</li>
            <li>font-feature-settings</li>
            <li>スマホだとはみ出すけどスクロールできない</li>
        </ul>
    </body>
</html>
