---
import BaseLayout from "@/layouts/BaseLayout.astro";
// TODO: このサイトについて
---

<BaseLayout title="このサイトについて">
    <h2>表示フォントについて</h2>
    <p>当サイトは、ブラウザの設定を尊重したフォントで表示するよう設計しています。ほかのサイトでは効果がないことが多いですが、ぜひお好きなフォントを設定してください。</p>
    <h2>動作環境</h2>
    <p>当サイトは以下の環境で動作を確認しています。これ以外の環境でも、不具合等があればお知らせください。気が向いたらなんとかします。</p>
    <ul>
        <li>Microsoft Edge 最新版 (Windows 11)</li>
        <li>Firefox 最新版 (Windows 11)</li>
        <li>Mobile Safari 最新版 (iOS 17, iPadOS 17)</li>
    </ul>
</BaseLayout>
