---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Changes_ from "@/components/Changes.astro";
---

<BaseLayout title="更新履歴" description="このサイトの更新履歴です。">
    <p><code>git log --first-parent</code>を<a href="/blog/20231225-changes/">いいかんじに整形</a>して生成しています。コミットメッセージそのままなのでたまに意味不明。</p>
    <Changes_ count={Number.MAX_SAFE_INTEGER} />
</BaseLayout>
