---
import A from "@/components/A.astro";
import Changes from "@/components/Changes.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const links: { title: string; url: URL; description: string }[] = [
    {
        title: "wagamachichofu.mp3",
        url: new URL("https://www.city.chofu.lg.jp/documents/221/wagamachichofu_1.mp3"),
        description: '「1645」の公式音源。<a href="https://www.city.chofu.lg.jp/020090/p013076.html" target="_blank">紹介ページ</a>',
    },
    {
        title: "chaimuon.mp3",
        url: new URL("https://www.city.komae.tokyo.jp/index.cfm/46,63352,c,html/63352/chaimuon.mp3"),
        description: '狛江市の17時の時報の公式音源。<a href="https://www.city.komae.tokyo.jp/index.cfm/46,63352,353,2696,html" target="_blank">紹介ページ</a>',
    },
    {
        title: "ゆいのページ",
        url: new URL("https://yuino.dev/"),
        description: "写真研究部技術担当(大嘘)<!--/工学研究部副部長-->のページ。手打ちでコシのあるhtmlらしい。",
    },
    {
        title: "Akitoshi Lab.",
        url: new URL("https://akitoshi-lab.com/"),
        description: "写真研究部PENTAX担当(???)のページ。",
    },
    {
        title: "すしのへや",
        url: new URL("https://www.sushichan.live/"),
        description: "Astro製電通大生個人サイト。つよい人が使うとこうなるらしい。<del>ちゃんさぶ</del>",
    },
    {
        title: "へる破壊財団",
        url: new URL("https://helkun.dev/"),
        description: "Astro製電通大生個人サイトn+1。<!--工学研究部部長のページ。--><del>くんさぶ</del>",
    },
    {
        title: "y-chan's website",
        url: new URL("https://y-chan.dev/"),
        description: "Astro製電通大生個人サイトn+2。",
    },
    {
        title: "みみの小屋",
        url: new URL("https://usa-mimi.net/"),
        description: "Astro製電通大生個人サイトn+3。",
    },
    {
        title: "MDN Web Docs",
        url: new URL("https://developer.mozilla.org/ja/"),
        description: "聖書。公式ドキュメントを崇めよ。",
    },
    {
        title: "Git - Book",
        url: new URL("https://git-scm.com/book/ja/v2/"),
        description: "Gitを理解するならいかがでしたかサイトを読むより先にこれを読破しよう。公式ドキュメントを崇めよ。",
    },
    {
        title: "Tailscale",
        url: new URL("https://tailscale.com/"),
        description: "めちゃくちゃ手軽なのでVPNで困ったことがある人はぜひ検討してみよう。",
    },
    {
        title: "Unicode コードポイント変換 - ちょびつーる",
        url: new URL("https://chobitool.com/unicodepoint/"),
        description: "文字のコードポイントを確認できるWebツール。パソコンつかえないときに–と-と‐と−とを見分けたくなったりしたときに便利。",
    },
    {
        title: "CircuitJS1",
        url: new URL("https://www.falstad.com/circuit/circuitjs.html"),
        description: "ブラウザ上で動作する電子回路のシミュレータ。論理回路の挙動を見るのにも使える。",
    },
];
---

<BaseLayout title="" description="あづみが遊びで作ってる個人サイトってやつです。一生工事中です。">
    <p><span id="welcome">やっほー、</span>ここは<a href="/about/">あづみ</a>が遊びで作ってる個人サイトってやつです。一生工事中です。サグラダファミリア、あるいは横浜駅。</p>
    <h2>Tips</h2>
    <p id="tips">JavaScriptが有効だとここにはランダムなTipsが表示される。</p>
    <h2>あづみについて</h2>
    <dl class="inline">
        <dt>趣味</dt><dd>カメラ</dd><dd>パソコン</dd><dd>ごく一部のゲーム</dd><dd>ほか</dd>
        <dt>すきなもの</dt><dd>いぬねこ</dd><dd>睡眠</dd><dd>国際単位系</dd><dd>ほか</dd>
        <dt>きらいなもの</dt><dd>ヤードポンド法</dd><dd>京王線</dd><dd>ほか</dd>
        <dt>所有機材</dt><dd>α7 IV</dd><dd>iPhone SE3</dd><dd>VAIO SX14</dd><dd><A href="/about/equipment/">ほか</A></dd>
        <dt>SNS</dt><dd><A href="https://twitter.com/DG_7d">𝕏</A></dd><dd>ほか</dd>
        <dt><a href="/about/">もっと見る</a></dt><dd>自己紹介</dd>
    </dl>
    <h2>ブログ</h2>
    <dl class="inline">
        <dt><a href="/blog/20231201-1645/">「1645」を音割れさせてみた</a></dt><dd>「1645」でおなじみの調布市の防災無線メロディ「わが町調布」の音源を実際の放送のように加工したり、音源の変遷について調査してみたりした話。</dd>
        <dt><a href="/blog/20231225-changes/">Astroで更新履歴を自動生成してみた</a></dt><dd>Astroでサイトの更新履歴をGitのコミット履歴から自動生成してみた話。</dd>
        <dt><a href="/blog/20240004-destroyed-keio/">京王が滅びた世界で調布にたどり着く方法</a></dt><dd>京王線が不通になったとき、別のルートから調布駅にたどり着く方法をまとめた話。</dd>
        <dt><a href="/blog/">もっと見る</a></dt><dd>記事一覧</dd>
    </dl>
    <h2>その他</h2>
    <dl class="inline">
        <dt><a href="/misc/govissionu/">ゴヴィッショヌ揃え</a></dt><dd>ゴヴィッショヌ揃えをJavaScriptで実装してみた。</dd>
        <dt><a href="/misc/math-converter/">数学用英数字記号変換器</a></dt><dd>通常のASCII英数字列から数学用英数字記号を生成するツールです。</dd>
        <dt><a href="/misc/">もっと見る</a></dt><dd>そのほか</dd>
    </dl>
    <h2>リンク集</h2>
    <p>知り合いのサイトとかおすすめとかメモとか。</p>
    <dl class="inline">
        {
            // prettier-ignore
            links.map(link =>
                <>
                    <dt><a href={link.url} target="_blank">{link.title}</a></dt>
                    <dd><Fragment set:html={link.description} /></dd>
                </>
            )
        }
    </dl>
    <h2>更新履歴</h2>
    <p>git log垂れ流し。</p>
    <Changes count={3} inline />
    <h2>動作環境</h2>
    <p>当サイトは以下の環境で動作を確認しています。これ以外の環境でも、不具合等があればお知らせください。気が向いたらなんとかします。</p>
    <ul>
        <li>Microsoft Edge 最新版 (Windows 11)</li>
        <li>Firefox 最新版 (Windows 11)</li>
        <li>Mobile Safari 最新版 (iOS 17, iPadOS 17)</li>
    </ul>
</BaseLayout>

<script>
    const messages = ["やあやあ、", "ようこそ、", "ゆっくりしていってね。", "いらっしゃい。", "Hello and Welcome!! ", "へぇい、", "やっほー、", "うおおおおおお、", "どうも、", "はじめましての方ははじめまして、", "はい、というわけでね、", "えーっとね、", "にゃーん、"];
    const tips = [
        "undefined",
        "窓口やモバイルのアプリでSuica/PASMOの残高が1000円を切った際のタッチ音を変更できる。<a href='https://www.pasmo.co.jp/about/service/' target='_blank'>PASMO公式サイト</a>",
        "Windows、JISキーボード環境ではCaps Lockと書いてあるキー(英数キー)でIME切替ができる。",
        "自転車が歩道を走行する際は車道寄りを徐行しなければならない。<a href='https://elaws.e-gov.go.jp/document?lawid=335AC0000000105#Mp-At_63_4' target='_blank'>道路交通法 第六十三条の四</a>",
        "過労や寝不足での運転は犯罪。自転車もだめ。<a href='https://elaws.e-gov.go.jp/document?lawid=335AC0000000105#Mp-At_66' target='_blank'>道路交通法 第六十六条</a>",
        "赤信号の意味は「止まれ」ではなく「停止位置を越えるな」であり、交差点に進入してから赤信号になっても止まる必要はなく(二段階右折を除く)、むしろ速やかに交差点を脱出すべきである。<a href='https://elaws.e-gov.go.jp/document?lawid=335CO0000000270#Mp-At_2' target='_blank'>道路交通法施行令 第二条</a>",
        "電気通信大学 D棟の間取りは基礎科学実験の教科書で確認できるが、基礎科学実験Aのもののほうが若干正確である。",
        "Google Drive上で開かれたPDFは印刷ボタンを押すとブラウザのビューアーで直接開ける。",
        "「Windows PCとMacってどっちがいい？」という疑問が生じた人はいまのところMacを使うべきではない。",
        "京王井の頭線の急行で永福町から渋谷方面に向かうと「次は明大前」と「まもなく明大前」の放送の間がなさすぎて面白い。",
        "調布駅から電通大多摩川グラウンドまでは京王バスが便利。",
        "GoogleやBingなどの検索欄に数式を入れるとある程度計算してくれる。",
        "Wikipediaにどうでもいい御託が並べられていてよく分からない項目はニコニコ大百科だと分かりやすいことがある。",
        "「wiki」は一般名詞であり、Wikipediaのことを指して使うのは誤り。",
        "こういう出典のないTipsを安易に信用すべきではない。",
        "イギリスでは階数は地上階がground floor、その上(日本で言う2階)がfirst floorである。0-indexedのほうが分かりやすくね？",
        "「ゔ」はShift_JISでは表現できない。",
        "GPSは衛星からの電波を受信するだけなのでSIMなしでも使える。ただし回線があるほうが精度と速度は向上するらしい。",
        "ここで中央クリックするとTipsを再抽選できる。",
        "たいていの環境ではリンクを中央クリックすると新しいタブで開ける。ここですると……？",
        "<code>hostname.local</code>でLAN内のデバイスのIPアドレスを得られる。(mDNS)",
        "「コンギョ」は一部の配信サイトで配信されている。<a href='https://music.apple.com/jp/album/%E6%94%BB%E6%92%83%E6%88%A6%E3%81%A0/1533246215' target='_blank'>Apple Music</a>",
        "「マリーのアトリエ」はPlayStation(と互換のあるPS2、PS3)、セガサターン、PS4、PS5、Switch、PC、iOSでプレイ可能である(リメイク含む)。",
    ];

    function random<T>(array: T[]): T {
        return array[Math.floor(Math.random() * array.length)]!;
    }

    document.getElementById("welcome")!.textContent = random(messages);

    const tipsElement = document.getElementById("tips")!;
    function setTips() {
        tipsElement.innerHTML = random(tips);
    }
    tipsElement.addEventListener("mousedown", ev => {
        if (ev.button == 1) {
            setTips();
        }
    });
    setTips();
</script>
