---
import { toJpDateString } from "@/utils/Date.mjs";

interface Props {
    count: number;
    inline?: boolean;
}

const separator = "\uF8FF";
const commits: { date: string; message: string }[] = [];
for await (const line of Bun.$`git log --format=%ad${separator}%s --date=short --first-parent`.lines()) {
    const [date, message] = line.split(separator);
    if (date && message && !message.startsWith("_") && !message.startsWith("Merge")) {
        commits.push({ date: date, message: message });
    }
}
const history = Object.groupBy(commits, commit => commit.date!);
const dates = Object.keys(history);

let overflow = false;
if (dates.length > Astro.props.count) {
    overflow = true;
    dates.splice(Astro.props.count);
}
---

<dl class={Astro.props.inline ? "inline" : ""}>
    {
        // prettier-ignore
        dates.map(date => (
            <>
                <dt><time datetime={date}>{toJpDateString(date)}</time></dt>
                {
                    history[date]!.map(commit => (
                        <dd>{commit.message}</dd>
                    ))
                }
            </>
        ))
    }
    {
        // prettier-ignore
        overflow && (
            <>
                <dt>それ以前</dt>
                <dd><a href="/changes/">もっと見る</a></dd>
            </>
        )
    }
</dl>
