---
import "@/styles/style.scss";
const copylightYear: string = new Date().getFullYear().toString();
---

<footer><a href="/about/"><div>© {copylightYear} あづみ</div></a></footer>
<style lang="scss">
    a {
        width: 100%;
        display: block;
        background-color: var(--theme-color);
        color: var(--bwhite);
        padding: 0.25rem;
        text-align: center;
        align-content: center;
    }
</style>
