---
import "@/styles/style.scss";
import HeaderLogo from "./HeaderLogo.astro";
---

<header>
    <a href="/">
        <HeaderLogo />
    </a>
    <nav>
        <ul>
            <li><a href="/">トップ</a></li>
            <li><a href="/blog/">ブログ</a></li>
            <li><a href="/misc/">その他</a></li>
            <li><a href="/about/">自己紹介</a></li>
        </ul>
    </nav>
    <!-- <button style="width: 1rem; height: 1rem;"></button> -->
</header>
<style lang="scss">
    $logo-height: 2rem;
    $padding: 0.25rem;
    :root {
        --header-height: #{$logo-height + 2 * $padding};
    }
    header {
        height: var(--header-height);
        overflow: hidden;
        position: sticky;
        top: 0;
        z-index: 1645;
        padding: $padding;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;
        background-color: var(--theme-color);
        box-shadow: 0 0 0.5rem 0.25rem var(--background-color);
        > a {
            line-height: 0;
            color: var(--bwhite);
            :global(svg) {
                height: $logo-height;
            }
        }
        > nav {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    padding: 0.25rem;
                    margin: 0;
                    a {
                        color: var(--bwhite);
                    }
                }
            }
        }
        > button {
            position: absolute;
            right: 1rem;
        }
    }
</style>
