---
import "@/styles/style.scss";
import HeaderLogo from "./HeaderLogo.astro";

const menu = [
    { path: "/", text: "トップ" },
    { path: "/blog/", text: "ブログ" },
    { path: "/misc/", text: "その他" },
    { path: "/about/", text: "自己紹介" },
];

// TODO:popoverきたらサイドバーとか実装？
---

<header>
    <a href="/">
        <HeaderLogo />
    </a>
    <nav>
        <ul>
            {
                menu.map(item => (
                    <li>
                        <a href={item.path}>{item.text}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
<style lang="scss">
    header {
        container: header / size;
        overflow: hidden;
        position: sticky;
        top: 0;
        z-index: 1645;
        padding: 0.25rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;
        background-color: var(--theme-color);
        color: var(--bwhite);
        box-shadow: 0 0 0.5rem 0.25rem var(--background-color);
        > a {
            :global(svg) {
                display: block;
                height: 100cqh;
            }
        }
        > nav {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    padding: 0.25rem;
                    margin: 0;
                }
            }
        }
    }
</style>
