---
import "../styles/style.scss";

interface Props {
    siteName: string;
}

const { siteName } = Astro.props;
---

<header>
    <a href="/">
        {siteName}
    </a>
    <!-- <button style="width: 1rem; height: 1rem;"></button> -->
</header>
<style lang="scss">
    $font-size: 2rem;
    $padding: 0.25rem;
    :root {
        --header-height: #{$font-size + 2 * $padding};
    }
    header {
        position: sticky;
        top: 0;
        z-index: 1645;
        padding: $padding;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--theme-color);
        a {
            color: var(--bwhite);
            font-size: $font-size;
        }
        button {
            position: absolute;
            right: 1rem;
        }
    }
</style>
