---
import { getImage } from "astro:assets";
import Center from "./Center.astro";

interface Props {
    src: string;
    alt: string;
    width?: number;
    caption?: string;
    title?: string;
}

const optimizedImage = await getImage({
    src: Astro.props.src,
    alt: Astro.props.alt,
    widths: [Astro.props.width ?? 1920],
});

const caption = Astro.props.caption || Astro.props.title;
---

<Center>
    <figure>
        <a href={optimizedImage.src} target="_blank">
            <img src={optimizedImage.srcSet.values[0]?.url} {...optimizedImage.attributes} />
        </a>
        {caption && <figcaption>{caption}</figcaption>}
    </figure>
</Center>
<style lang="scss">
    figure {
        display: contents;
        a {
            display: block;
            border: 0.1rem solid var(--main-shadow);
            &:hover {
                border-color: var(--main-color);
            }
            img {
                display: block;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 50vh;
            }
        }
        figcaption {
            display: block;
        }
    }
</style>
