---
import { JSDOM } from "jsdom";

interface Props {
    url: string;
}

const url = new URL(Astro.props.url);

let ogpProperties: { [key: string]: string | undefined } = {};
try {
    const responseText = await (await fetch(url)).text();
    const doc = new JSDOM(responseText).window.document;
    Object.entries(doc.getElementsByTagName("meta")).forEach(([_, metaTag]) => {
        const property = metaTag.getAttribute("property");
        const content = metaTag.getAttribute("content");
        if (property?.startsWith("og:") && content) {
            ogpProperties[property.substring(3)] = content;
        }
    });
    ogpProperties["title"] ??= doc.getElementsByTagName("title")[0].textContent ?? undefined;
    ogpProperties["description"] ??= doc.getElementsByName("description")[0].getAttribute("content") ?? undefined;
} catch (error) {
    console.log(error);
}
---

<div class="OGPCard">
    <a href={url.toString()} target={url.hostname == Astro.site?.hostname ? "" : "_blank"}>
        {ogpProperties["image"] && <img src={ogpProperties["image"]} alt="" />}
        <div class="detail">
            <div class="title">{ogpProperties["title"]}</div>
            {ogpProperties["description"] && <div class="description">{ogpProperties["description"]}</div>}
        </div>
        <div class="domain">{url.hostname}</div>
    </a>
</div>

<style lang="scss">
    $height: 7rem;

    a {
        display: grid;
        grid-template-areas:
            "img padl padt padr"
            "img padl detail padr"
            "img padl padc padr"
            "img padl domain padr"
            "img padl padb padr";
        grid-template-columns: auto 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr auto 1fr;
        max-width: 30rem;
        margin: 0 auto;
        border: 0.1rem solid var(--main-shadow);
        text-decoration: inherit;
        color: inherit;
        text-overflow: ellipsis;

        > img {
            grid-area: img;
            width: $height;
            height: $height;
            object-fit: cover;
        }
        > div {
            padding: 0 0.5rem;
            grid-area: detail;
            div.title {
                font-size: 1.25rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                height: 1lh;
            }
            div.description {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                max-height: 2lh;
            }
        }
        > div.domain {
            grid-area: domain;
            font-size: 0.9rem;
            font-family: monospace, sans-serif;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            height: 1lh;
        }
    }
</style>
