---
interface Props {
    id: string;
    hideMedia?: boolean;
    hideThread?: boolean;
}

const urlSearchParams = new URLSearchParams({
    url: `https://twitter.com/i/status/${Astro.props.id}`,
    hideCard: Astro.props.hideMedia ? "true" : "false",
    hideThread: Astro.props.hideThread ? "true" : "false",
    id: Astro.props.id,
    lang: "ja",
    theme: "dark",
    dnt: "true",
});
const url = new URL("https://platform.twitter.com/embed/Tweet.html?" + urlSearchParams.toString());
---

<div>
    <iframe class="twitter-embed" src={url.toString()} allow="fullscreen" scrolling="no" data-tweet-id={Astro.props.id}></iframe>
</div>
<style lang="scss">
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        iframe {
            border-radius: 12px;
            overflow: hidden;
            width: 100%;
            max-width: 30rem;
        }
    }
</style>
<script>
    const iframes = document.getElementsByClassName("twitter-embed") as HTMLCollectionOf<HTMLIFrameElement>;
    window.addEventListener("message", ev => {
        if (ev.origin == "https://platform.twitter.com") {
            const data = ev.data["twttr.embed"].params[0];
            for (const iframe of iframes) {
                if (data.data.tweet_id == iframe.dataset.tweetId) {
                    console.log("a");
                    iframe.height = data.height;
                }
            }
        }
    });
</script>
