---
interface Props {
    id: string;
}
---

<div>
    <blockquote class="twitter-tweet" data-dnt="true" data-theme="dark">
        <a href={"https://twitter.com/i/status/" + Astro.props.id.toString()} target="_blank">ツイート読込中</a>
    </blockquote>
</div>
<style>
    :global(.twitter-tweet-rendered) {
        max-width: 30rem !important;
        margin: 0 auto !important;
        border-radius: 12px;
        overflow: hidden;
    }
</style>
