---
interface Props {
    id: string;
    hideMedia?: boolean;
    hideThread?: boolean;
}

const urlSearchParams = new URLSearchParams({
    hideCard: Astro.props.hideMedia ? "true" : "false",
    hideThread: Astro.props.hideThread ? "true" : "false",
    id: Astro.props.id,
    lang: "ja",
    theme: "dark",
    dnt: "true",
});
const url = new URL("https://platform.twitter.com/embed/Tweet.html?" + urlSearchParams.toString());
---

<div>
    <iframe class="twitter-embed" src={url.toString()} allow="fullscreen" scrolling="no" data-tweet-id={Astro.props.id}></iframe>
</div>
<style lang="scss">
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        iframe {
            border-radius: 12px;
            overflow: hidden;
            width: 100%;
            max-width: 30rem;
        }
    }
</style>
<script>
    const iframes = document.getElementsByClassName("twitter-embed") as HTMLCollectionOf<HTMLIFrameElement>;
    window.addEventListener("message", ev => {
        if (ev.origin == "https://platform.twitter.com" && ev.data["twttr.embed"].method == "twttr.private.resize") {
            const iframe = [...iframes].find(iframe => iframe.dataset.tweetId == ev.data["twttr.embed"].params[0].data.tweet_id);
            if (iframe) {
                console.log(ev);
                iframe.height = ev.data["twttr.embed"].params[0].height;
            }
        }
    });
</script>
