---
export const title = "ゴヴィッショヌ揃え";
export const description = "ゴヴィッショヌ揃えをJavaScriptで実装してみた。";
export const url = Astro.url;
import A from "@/components/A.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title={title} description={description}>
    <p><a href="http://checoole.s1009.xrea.com/govissionu/make_govissionu.php" target="_blank">ゴヴィッショヌ揃え</a>をJavaScriptで実装してみた。文字がだばーっと出るようにしたかったけど重くなるのでやめた。ほかの実装: <A href="https://yuino.dev/works/govissionu/">ゆい</A>、<A href="https://akaakuhub.github.io/govisshonu/">あかあく</A></p>
    <div id="govBox" class="bordered"></div>
    <p id="govResult"><span id="govLength"></span>文字目でｺﾞｳﾞｨｯｼｮﾇが完成しました！ <a id="govTweet" href="" target="_blank">ツイート</a> <button class="like-link" id="reGov">もういちど</button></p>
    <script>
        function random<T>(array: T[]): T {
            return array[Math.floor(Math.random() * array.length)]!;
        }

        const govs = ["(", "´", "･", "_", "･", "`", ")"];
        const govBox = document.getElementById("govBox")!;
        const govLength = document.getElementById("govLength")!;
        const govTweet = document.getElementById("govTweet")! as HTMLAnchorElement;
        document.getElementById("reGov")!.addEventListener("click", reGov);

        async function makeGov() {
            let nextLetter = 0;
            let govText = "";
            while (true) {
                const newLetter = random(govs);
                govText += newLetter;
                if (newLetter == govs[nextLetter]) {
                    nextLetter++;
                    if (nextLetter == govs.length) {
                        return govText;
                    }
                } else {
                    nextLetter = 0;
                }
            }
        }
        async function showGov(govText: string) {
            govBox.textContent = govText;
            govLength.textContent = govText.length.toString();
            govTweet.href = encodeURI(`https://twitter.com/intent/tweet?text=${govText.length}文字目でｺﾞｳﾞｨｯｼｮﾇが完成しました(´･_･\`)&url=${location.href}`);
            govBox.scrollTop = govBox.scrollHeight;
        }
        async function reGov() {
            makeGov().then(govText => showGov(govText));
        }

        await reGov();
    </script>
    <style>
        #govBox {
            max-height: 50vh;
            overflow-x: hidden;
            overflow-y: auto;
            resize: vertical;
            word-break: break-all;
        }
    </style>
</BaseLayout>
