---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="ゴヴィッショヌ揃え" description="">
    <p><a href="http://checoole.s1009.xrea.com/govissionu/make_govissionu.php" target="_blank">ゴヴィッショヌ揃え</a>をJavaScriptで実装してみた。遅すぎて一生終わらない。</p>
    <div id="govOut"></div>
    <div id="govCount">0</div>
    <script>
        function random<T>(array: T[]): T {
            return array[Math.floor(Math.random() * array.length)];
        }
        function makeGov() {
            const govs = ["(", "´", "･", "_", "･", "`", ")"];
            const govOut = document.getElementById("govOut");
            const govCount = document.getElementById("govCount");
            let nextLetter = 0;
            let letterCount = 0;

            function addGov() {
                const newLetter = random(govs);
                govOut!.innerText += newLetter;
                letterCount++;
                govCount!.innerText = letterCount.toString();
                if (newLetter == govs[nextLetter]) {
                    nextLetter++;
                    if (nextLetter == govs.length) {
                        finishGov();
                        return;
                    }
                } else {
                    nextLetter = 0;
                }
                setTimeout(addGov, 0);
            }
            function finishGov() {
                govCount!.innerText += "文字目でｺﾞｳﾞｨｯｼｮﾇが完成しました！";
                govCount!.scrollIntoView();
            }

            addGov();
        }
        makeGov();
    </script>
</BaseLayout>
