---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="その他" description="その他もろもろ。">
    <ul>
        <li><a href="govissionu/">ゴヴィッショヌ揃え</a></li>
    </ul>
</BaseLayout>
