---
import BaseLayout from "@/layouts/BaseLayout.astro";
const pages = [
    { ...(await import("./govissionu.astro")), url: "govissionu/" },
    // { ...(await import("./sight.astro")), url: "sight/" }, // リセットCSSとかで上書きされてしまう？
    { title: "Webカメラ照準器", description: "スマホなどを照準器にできるWebアプリです。", url: "sight/" },
    { ...(await import("./web-camera-test.astro")), url: "web-camera-test/" },
    { ...(await import("./math-converter.astro")), url: "math-converter/" },
    { ...(await import("./alt-x.astro")), url: "alt-x/" },
];
---

<BaseLayout title="その他" description="その他のツールなどの制作物やもろもろのページです。">
    <p>そのほかの作ったツールとか。</p>
    <dl>
        {
            // prettier-ignore
            pages.map(page => (
                <>
                    <dt><a href={page.url}>{page.title}</a></dt>
                    <dd>{page.description}</dd>
                </>
            ))
        }
    </dl>
</BaseLayout>
