---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="その他" description="その他のツールなどの制作物やもろもろのページです。">
    <p>そのほかの作ったツールとか。</p>
    <ul>
        <li><a href="govissionu/">ゴヴィッショヌ揃え</a></li>
        <li><a href="sight/">Webカメラ照準器</a></li>
        <li><a href="web-camera-test/">Webカメラテストページ</a></li>
        <li><a href="math-converter/">数学用英数字記号変換器</a></li>
    </ul>
</BaseLayout>
