---
import BaseLayout from "@/layouts/BaseLayout.astro";
// TODO: 自動取得する
const pages = [
    { title: "ゴヴィッショヌ揃え", url: "govissionu/", description: "ゴヴィッショヌ揃えをJavaScriptで実装してみた。" },
    { title: "Webカメラ照準器", url: "sight/", description: "スマホなどを照準器にできるWebアプリです。" },
    { title: "Webカメラテストページ", url: "web-camera-test/", description: "Webカメラ映像取得のパラメータをいろいろいじるページです。" },
    { title: "数学用英数字記号変換器", url: "math-converter/", description: "Webカメラ映像取得のパラメータをいろいろいじるページです。" },
    { title: "コードポイントから文字に変換するやつ", url: "alt-x/", description: "入力したUnicodeコードポイントに対応する文字を表示するツールです。" },
];
---

<BaseLayout title="その他" description="その他のツールなどの制作物やもろもろのページです。">
    <p>そのほかの作ったツールとか。</p>
    <dl>
        {
            // prettier-ignore
            pages.map(page => (
                <>
                    <dt><a href={page.url}>{page.title}</a></dt>
                    <dd>{page.description}</dd>
                </>
            ))
        }
    </dl>
</BaseLayout>
