---
export const title = "Webカメラテストページ";
export const description = "Webカメラ映像取得のパラメータをいろいろいじるページです。";
export const url = Astro.url;
import BaseLayout from "@/layouts/BaseLayout.astro";
const defaultConstraints: string = `
{
    "audio": false,
    "video": {
        "aspectRatio": 1.777777778,
        "facingMode": "environment",
        "height": 1080
    }
}
`;
// TODO: ボタンはボタンらしい見た目しててもいいのでは
---

<BaseLayout title={title} description={description}>
    <p>以下の入力欄に<code>getUserMedia()</code>へ渡すMediaStreamConstraintsオブジェクトをJSON形式で入力して「適用」を押してください。映像の下に<code>getCapabilities()</code>(初回のみ)と<code>getSettings()</code>(更新のたび)の結果が表示されます。</p>
    <textarea id="inputConstraints" placeholder="ここにJSONを入力">{defaultConstraints}</textarea>
    <div><button id="buttonConstraints" class="like-link">適用</button></div>
    <div>
        <video id="liveView" muted playsinline> </video>
    </div>
    <div id="log" class="bordered"></div>
</BaseLayout>
<script>
    const liveView = document.getElementById("liveView")! as HTMLVideoElement;
    const inputConstraints = document.getElementById("inputConstraints")! as HTMLTextAreaElement;
    const buttonConstraints = document.getElementById("buttonConstraints")! as HTMLButtonElement;
    const log = document.getElementById("log")!;

    function activateLiveView() {
        console.log(JSON.parse(inputConstraints.value));
        navigator.mediaDevices.getUserMedia(JSON.parse(inputConstraints.value)).then(stream => {
            if (liveView.srcObject == null) {
                log.textContent += "---- Capabilities ----";
                log.textContent += "\n" + JSON.stringify(stream.getVideoTracks()[0]?.getCapabilities(), undefined, 4) + "\n\n---- Settings ----";
            } else {
                liveView.pause();
            }
            log.textContent += "\n\n" + JSON.stringify(stream.getVideoTracks()[0]?.getSettings(), undefined, 4);
            liveView.srcObject = stream;
            liveView.play();
        });
    }

    buttonConstraints.addEventListener("click", activateLiveView);
</script>
<style lang="scss">
    textarea {
        height: 11lh;
    }
    video {
        display: block;
        max-width: 100%;
    }
    div#log {
        white-space: pre;
        overflow-y: auto;
        max-height: 11lh;
    }
</style>
