---
import "@/styles/style.scss";
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Footer from "@/components/Footer.astro";
const siteName = "あづみのメモ帳";

interface Props {
    title: string;
    summaryLargeImage?: boolean;
    ogImage?: string;
    description: string;
}

const title = Astro.props.title == "" ? undefined : Astro.props.title;
---

<!doctype html>
<html lang="ja">
    <Head {...Astro.props} />
    <body>
        <Header />
        <main>
            <Breadcrumb />
            <h1>{title ?? siteName}</h1>
            {!title && <div></div> /* gap分余白追加 */}
            <slot />
        </main>
        <Footer />
    </body>
</html>
{
    !title &&
    <style>
        h1 {
            display: none;
        }
    </style>
}